@use "fonts";
@use 'color_sheme_default';


@mixin category_border {
  border-left: 1px solid #DEDEDE;
  border-right: 1px solid #DEDEDE;
}

.category__wrapper {
  position: relative;
  @include category_border;
  
}
.sub-category__wrapper {
  width: 1176px;
  display: none;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  left: 100%;
  top: 0;
 }
.sub-category__list {
  
}

.category__item:hover > .sub-category__wrapper {
  display: grid;
  
}
.category__icon-test {
  
  background-image: url('#category_icon.svg');
  
}
.category__item {
  &:hover {
    background-color: color_sheme_default.$item-hover-color;
  }
  a {
    display: flex;
    align-items: center;
    justify-content: start;
    color: color_sheme_default.$text-title-color;
    font-size: 1.15rem;
    gap: 1rem;
  }
}
.category__icon {
  width: 50px;
  height: 50px;
  
}
.category__arrow {
  align-self: center;
  margin-left: auto;
  margin-right: 9px;
  width: 7px;
  height: 15px;
  
}
.item__name {
  @include fonts.montserrat-regular;
  width: 13.6rem;
}