$text-main-color: #929292;
$text-dark-btn-color: #FFFFFF;
$text-title-color: #333333;
$btn-catalog-color: #333333;
$border-color: #C2C2C2;
$tags-main-color: #F2F2F2;
$text-tags-color: #666666;
$tags-promo-color: #FF4A4A;
$text-promo-color: #FFFFFF;
$text-hover-color: #3C96A3;
$item-hover-color: #F2F2F2;