.sub-category__banner-wrap {
  /* width: 558px; */
  //width: clamp(300px, 400px, 500px);
 
}
.sub-category__banner {
  width: 100%;
  //width: clamp(236px, 356px, 500px);
  height: 342px;
  background-color: #F6EEEB;
  border-radius: 15px;
}