.catalog {
  position: relative;
  
}
.catalog_style {
  background-color: white;
  border: solid 1ps red;
  
}
.catalog__wrapper {
  display: none;
  position: absolute;
  max-width: 263px;
  min-height: 403px;
  
}
.catalog_open {
  display: block;
}
