@use 'fonts';
@use 'color_sheme_default';

html {
  font-size: 0.78rem;
}
.container {
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
  @include fonts.montserrat-regular;
  color: color_sheme_default.$text-main-color;

  a {
    
  }
}