@use 'fonts';
@use 'color_sheme_default';

.header__tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 64px;

  a {
    color: color_sheme_default.$text-main-color
  }
}
.header__logo {
  @include fonts.krona;
  font-size: 2.8rem;
  color: color_sheme_default.$text-title-color;
  margin-right: 10%;
}
.menu__wrap {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 1rem;
}
.icon__menu {
  width: 30px;
  height: 30px;
}
.header__search {
  position: relative;
}
.label__search {
  width: 15px;
  height: 15px;
  position: absolute;
}
.input__search {
  padding: 6px 0px;
  min-width: 338px;
}
.phone__number {
  font-size: 2rem;
  
  a {
    @include fonts.montserrat-bold;
    color: color_sheme_default.$text-title-color;
    letter-spacing: -0.06rem;
  }
}
.phone__callback {
  font-size: 1.1rem;
  
  a {
    color: color_sheme_default.$text-title-color;
    letter-spacing: .0045rem;
  }
}
.button__name {
  font-size: 1rem;
  color: color_sheme_default.$text-title-color;
  
}
.menu__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header__l-panel {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 6%;
}
.header__r-panel {
  display: flex;
  align-items: end;
  justify-content: end;
  gap: clamp(25px, 93px, 153px);
  
}