<div class="catalog__wrapper catalog_style">
  <div class="category__wrapper">
    
    <ul class="category__list">
      <li class="category__item">
        <a href="">Мелкая кухонная техника</a>
        <ul class="sub-category__list">
          <li class="sub-category__item">Грили</li>
          <li class="sub-category__item">Грили</li>
          <li class="sub-category__item">Грили</li>
          <li class="sub-category__item">Грили</li>
          <li class="sub-category__item">Грили</li>
        </ul>
      </li>
      <li class="category__item">
        <a href="">Наушники</a>
      </li>
      <li class="category__item">
        <a href="">Посуда</a>
      </li>
      <li class="category__item">
        <a href="">Пылесосы и аксессуары</a>
      </li>
    </ul>
  </div>       
</div>