<div class="catalog__wrapper catalog_style">
  <div class="category__wrapper">
    <ul class="category__list">
      {%  include "./category_item.twig" with {'catName': 'Мелкая кухонная техника'} %}
      {%  include "./category_item.twig" with {'catName': 'Наушники'} %}
      {%  include "./category_item.twig" with {'catName': 'Посуда'} %}
      {%  include "./category_item.twig" with {'catName': 'Пылесосы и аксессуары'} %}
    </ul>
  </div>       
</div>