<li class="category__item">
  
  <a href="">
    <svg class="category__icon">
      <use xlink:href="#category_icon"></use>
    </svg>
    <span class="item__name">{{catName}}</span>  
    <svg class="category__arrow">
      <use xlink:href="#catalog_item_arrow"></use>
    </svg>
  </a>
  <div class="sub-category__wrapper iikii">
    {% set sub_category_type = 1 %}
    {% if  sub_category_type == 1 %}
      {% include './sub_category_list.twig' %}
    {% elseif sub_category_type == 1 %}
      {% include './sub_category_col.twig' %}
    {% endif %}
  </div>
</li>