<ul class="sub-category__list sub-category_col-2">
  <li>
    <ul>
      {% include './sub_category_item.twig' with {'name':'Грили'} %}
      {% include './sub_category_item.twig' with {'name':'Кухонные комбайны
    '} %}
      {% include './sub_category_item.twig' with {'name':'Микроволновые печи
    '} %}
      {% include './sub_category_item.twig' with {'name':'Миксеры и блендеры
    '} %}
      {% include './sub_category_item.twig' with {'name':'Мини-печи
    '} %}
      {% include './sub_category_item.twig' with {'name':'Мультиварки'} %}
    </ul>
  </li>
  <li>
    <ul>
      {% include './sub_category_item.twig' with {'name':'Мультипекари и электровафельницы
      '} %}
        {% include './sub_category_item.twig' with {'name':'Мясорубки
      '} %}
        {% include './sub_category_item.twig' with {'name':'Соковыжималки'} %}
        {% include './sub_category_item.twig' with {'name':'Тостеры и ростеры
      '} %}
        {% include './sub_category_item.twig' with {'name':'Хлебопечки'} %}
        {% include './sub_category_item.twig' with {'name':'Электрочайники'} %}
    </ul>
  </li>
  <li>
    <ul>
      {% include './sub_category_item.twig' with {'name':'Грили'} %}
      {% include './sub_category_item.twig' with {'name':'Кухонные комбайны
    '} %}
      {% include './sub_category_item.twig' with {'name':'Микроволновые печи
    '} %}
      {% include './sub_category_item.twig' with {'name':'Миксеры и блендеры
    '} %}
      {% include './sub_category_item.twig' with {'name':'Мини-печи
    '} %}
      {% include './sub_category_item.twig' with {'name':'Мультиварки'} %}
    </ul>
  </li>
  <li>
    <ul>
      {% include './sub_category_item.twig' with {'name':'Мультипекари и электровафельницы
      '} %}
        {% include './sub_category_item.twig' with {'name':'Мясорубки
      '} %}
        {% include './sub_category_item.twig' with {'name':'Соковыжималки'} %}
        {% include './sub_category_item.twig' with {'name':'Тостеры и ростеры
      '} %}
        {% include './sub_category_item.twig' with {'name':'Хлебопечки'} %}
        {% include './sub_category_item.twig' with {'name':'Электрочайники'} %}
    </ul>
  </li>
  <li>
    <ul>
      {% include './sub_category_item.twig' with {'name':'Грили'} %}
      {% include './sub_category_item.twig' with {'name':'Кухонные комбайны
    '} %}
      {% include './sub_category_item.twig' with {'name':'Микроволновые печи
    '} %}
      {% include './sub_category_item.twig' with {'name':'Миксеры и блендеры
    '} %}
      {% include './sub_category_item.twig' with {'name':'Мини-печи
    '} %}
      {% include './sub_category_item.twig' with {'name':'Мультиварки'} %}
    </ul>
  </li>
  <li>
    <ul>
      {% include './sub_category_item.twig' with {'name':'Мультипекари и электровафельницы
      '} %}
        {% include './sub_category_item.twig' with {'name':'Мясорубки
      '} %}
        {% include './sub_category_item.twig' with {'name':'Соковыжималки'} %}
        {% include './sub_category_item.twig' with {'name':'Тостеры и ростеры
      '} %}
        {% include './sub_category_item.twig' with {'name':'Хлебопечки'} %}
        {% include './sub_category_item.twig' with {'name':'Электрочайники'} %}
    </ul>
  </li>
  
</ul>