<nav>
  <div role="list" class="tags__stack">
    <a role="button" class="tags__item tags_style" href="">Мебель</a>
    <a role="button" class="tags__item tags_style" href="">Кухни</a>
    <a role="button" class="tags__item tags_style" href="">Освещение</a>
    <a role="button" class="tags__item tags_style" href="">Столы и стулья</a>
    <a role="button" class="tags__item tags_style" href="">Офисная мебель</a>
    <a role="button" class="tags__item tags_style" href="">Диваны и кресла</a>
    <a role="button" class="tags__item tags_style tags_promo" href="">Акции %</a>
  </div>
</nav>
