@use './styles/reset.scss';
@use './styles/nav-top.scss';
@use './styles/fonts.scss';
@use './styles/global.scss';
@use './styles/header.scss';
@use './styles/buttons.scss';
@use './styles/input_fields.scss';
@use './styles/tags.scss';
@use './styles/catalog.scss';
@use './styles/category.scss';
@use './styles/catalog_banner.scss';
@use './styles/sub_category.scss';
@use './styles/sub_category_list.scss';
@use './styles/sub_category_col.scss';
@use './styles/sub_category_item.scss';
@use './styles/sub_category_banner.scss'